.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .message {
    color: #12143c;
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .confirmButton {
    background-color: #12143c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
  }
  
  .confirmButton:hover {
    background-color: #00ab69;
  }
  
  .cancelButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cancelButton:hover {
    background-color: #d32f2f;
  }